@tailwind base;
@tailwind components;
@tailwind utilities;

/* tailwind is configured to prefer this font */
@font-face {
  font-family: 'Inter';
  src: url('/fonts/inter-bold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/inter-regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@layer base {
  :root {
    color-scheme: dark light;

    --canvas-default: 19 23 35;
    --fg-default: 225 231 239;
    --fg-muted: 171 181 191;
  }
}

@layer base {
  body {
    @apply bg-canvas text-fg antialiased;
  }

  button,
  a {
    @apply outline-none ring-white/30 focus:ring-[1px];
  }

  p {
    @apply leading-relaxed text-fg-muted;
  }

  a {
    @apply text-fg underline underline-offset-4 transition-all hover:text-fg-muted;
  }
}
