/* FONTS */
@font-face {
  font-family: 'JetBrains Mono';
  src: url('/fonts/jetbrains-mono/regular.woff2') format('woff2');
  font-weight: normal;
  font-style: mono;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('/fonts/jetbrains-mono/light.woff2') format('woff2');
  font-weight: 300;
  font-style: mono;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('/fonts/jetbrains-mono/medium.woff2') format('woff2');
  font-weight: medium;
  font-style: mono;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('/fonts/jetbrains-mono/bold.woff2') format('woff2');
  font-weight: bold;
  font-style: mono;
}

/* THEME */
:root.light {
  --canvas-default: #f0ede3;
  --overlay: #f2efe7;

  --fg-default: #353534;
  --fg-muted: #4a4a46;
  --link: #0065d8;
  --link-dark: #0065d8;

  --border-color: #e6e3e1;
}

:root.dark {
  --canvas-default: #16161f;
  --canvas-primary: #2c2c3a;
  --overlay: #1f1f27;

  --primary: #d4ecdd;
  --primary-dark: #b9e0c8;
  --on-primary: #000000;

  --fg-default: #d6d6e1;
  --fg-primary: var(--primary);
  --fg-muted: #c4c4d4;
  --link: #73aeff;
  --link-dark: #68a6ff;
  --error-color: #ff7979;

  --border-color: var(--canvas-primary);
}

/*
 * RESET 
 */

b {
  @apply font-medium text-fg;
}

.list {
  @apply list-inside list-[square] lg:ml-4 lg:list-outside;
}

/* clears the ‘X’ from Internet Explorer */
input[type='search']::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
input[type='search']::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}
/* clears the ‘X’ from Chrome */
input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  display: none;
}

/* selection hl */
::selection {
  color: var(--canvas-default);
  background: var(--fg-default);
}

::-moz-selection {
  color: var(--canvas-default);
  background: var(--fg-default);
}

/* 
 * LAYOUT 
 */
.layout {
  min-height: 100vh;
  display: grid;
  grid:
    'navbar' auto
    'main' 1fr
    'footer' auto
    / 1fr;
}

/*
 * COMPONENTS
 */
.input {
  @apply rounded-md bg-canvas-primary p-4 outline-none ring-current transition-all
         duration-300 placeholder:font-light focus:ring-2;
}

.btn {
  @apply rounded-md bg-fg px-12 py-4 font-medium text-canvas outline-none 
         ring-fg ring-offset-2 ring-offset-canvas focus:ring-2;
}
